.u-section-1 .u-sheet-1 {
  min-height: 491px;
}

.u-section-1 .u-image-1 {
  width: 4000px;
  height: 3px;
  margin: 0 -1430px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 78px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 14px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  margin: 16px 0 0;
}

.u-section-1 .u-image-2 {
  width: 330px;
  height: 220px;
  filter: brightness(0.8);
  margin: -32px 310px 0 auto;
}

.u-section-1 .u-text-4 {
  line-height: 1.29;
  font-weight: 600;
  width: 778px;
  margin: -163px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -162px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 210px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-2 {
    margin-right: 10px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 402px;
}

.u-section-2 .u-image-1 {
  width: 4000px;
  height: 3px;
  margin: 0 -1430px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 57px auto 0;
}

.u-section-2 .u-text-2 {
  width: 864px;
  font-weight: 500;
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-2 .u-accordion-1 {
  width: 1140px;
  margin: 30px 0 0;
}

.u-section-2 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 25px 0 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-image-2 {
  width: 4000px;
  height: 3px;
  margin: 54px -1430px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-accordion-1 {
    width: 940px;
  }

  .u-section-2 .u-image-2 {
    width: 940px;
    height: 1px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-accordion-1 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 153px;
}

.u-section-3 .u-shape-1 {
  height: 74px;
  width: 1157px;
  margin: 40px -8px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 500;
  margin: -51px auto 0 40px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: -29px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 29px;
  height: 29px;
  margin: -29px 40px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 28px;
  height: 28px;
  margin: -29px 82px 63px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: 340px;
  }
}